body
{
    margin-left:10px;
}

.post
{
    background-color: #f6f6f8;
}

.post_title
{
    font-weight: bold !important;
    font-size: 25px !important;
}

.post_body
{
    font-weight: normal !important;
    font-size: 16px !important;
}

.vote_on_post
{
    font-weight: normal;
    font-size: 14px;
}

.edit_post_link
{
    font-weight: normal;
    font-size: 14px;
}

.del_post_btn
{
    width: auto;
    height: auto;
}